.score-message {
    width: 100vw;
    height: auto;
    position: fixed;
    background-color: transparent;
    z-index: 5;
    text-align: center;
}

.animated-text, .animated-text-1, .animated-text-2, .animated-text-3, .animated-text-4 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
    margin-top: 10vh;
    -webkit-text-stroke: 2px white;
}

.animated-text-1 .text-wrapper, .animated-text-2 .text-wrapper, .animated-text-3 .text-wrapper, .animated-text-4 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.letters {
    text-shadow: 0 0 10px #00000050;
}


.animated-text-1 .letter {
    display: inline-block;
    line-height: 1em;
}

.animated-text-2 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
}

.animated-text-3 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}

.animated-text-4 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

#saved-check {
    position: fixed;
    z-index: 10;
}

.success-checkmark {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    transform: scale(0.5) translateX(-12px) translateY(-20px)
}
.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
}
.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #ccefe0;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}
@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
   }
    5% {
        transform: rotate(-45deg);
   }
    12% {
        transform: rotate(-405deg);
   }
    100% {
        transform: rotate(-405deg);
   }
}
@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
   }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
   }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
   }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
   }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
   }
}
@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
   }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
   }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
   }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
   }
}

/** ANIMAZIONE BOTTONE DADO */
#throw-dice {
    font-family: "Helvetica", "Arial", sans-serif;
    display: block;
    font-size: 2em;
    width: 75px;
    height: 75px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.05s, box-shadow ease-in 0.05s;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.5);
}

#throw-dice:focus {
    outline: 0;
}

#throw-dice:before,
#throw-dice:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.1s;
    background-repeat: no-repeat;
}

#throw-dice:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ccefe0 20%, transparent 30%), radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ccefe0 15%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

#throw-dice:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ccefe0 15%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%), radial-gradient(circle, #ccefe0 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

#throw-dice:active {
    transform: scale(0.9);
    background-color: #b9e9d4;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

#throw-dice.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

#throw-dice.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}