.score-message {
    width: 100vw;
    height: auto;
    position: fixed;
    background-color: transparent;
    z-index: 5;
    text-align: center;
}

.animated-text, .animated-text-1, .animated-text-2, .animated-text-3, .animated-text-4 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
    margin-top: 10vh;
    -webkit-text-stroke: 2px white;
}

.animated-text-1 .text-wrapper, .animated-text-2 .text-wrapper, .animated-text-3 .text-wrapper, .animated-text-4 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.letters {
    text-shadow: 0 0 10px #00000050;
}


.animated-text-1 .letter {
    display: inline-block;
    line-height: 1em;
}

.animated-text-2 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
}

.animated-text-3 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}

.animated-text-4 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

#saved-check {
    position: fixed;
    z-index: 10;
}

.success-checkmark {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    transform: scale(0.5) translateX(-12px) translateY(-20px)
}
.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
}
.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #ccefe0;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}
@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
   }
    5% {
        transform: rotate(-45deg);
   }
    12% {
        transform: rotate(-405deg);
   }
    100% {
        transform: rotate(-405deg);
   }
}
@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
   }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
   }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
   }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
   }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
   }
}
@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
   }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
   }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
   }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
   }
}
