* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
table {
    margin: auto;
    border-collapse: collapse;
}
td {
    border: 1px black solid;
    width: 50px;
    height: 50px;
}
input {
    height: 50px;
    width: 50px;
    border: 0;
    font-size: 25px;
    text-align: center;
}
input:disabled {
    background: #cfcfcf;
}
.center {
    text-align: center;
}
.no-border {
        border: 0;
}
.bonus {
    border: 3px solid black;
}

.highlight-yellow {
    background-color: #fec107;
}
.highlight-green {
    background-color: #8bc24a;
}
.highlight-blue {
    background-color: #00bcd5;
}
.highlight-pink {
    background-color: #f06292;
}
.highlight-red {
    background-color: #fe5722;
}
.settings-button {
    width: 35px;
    height: 35px;
    position: fixed;
    right: 10px;
    top: 10px;
}
.settings-button img {
    width: 35px;
    height: 35px;
}
.settings-page {
/* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Position the content inside the overlay */
.settings-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
/* The navigation links inside the overlay */
.settings-page a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
/* When you mouse over the navigation links, change their color */
.settings-page a:hover, .settings-page a:focus {
    color: #f1f1f1;
}
/* Position the close button (top right corner) */
.settings-page #settings-closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.open {
    height: 100%;
}
.risultato-finale {
    height: 80px;
    width: 100%;
    text-align: -webkit-center;
    padding-top: 30px;
}
.risultato-finale .input-risultato-finale {
    border: 1px black solid;
    padding: 10px;
    width: 200px;
    height: 50px;
    background: #cfcfcf;
    font-size: 30px !important;
    border-radius: 5px;
    box-sizing: border-box;

    transition: all 1s;
}
.risultato-finale .input-risultato-finale:disabled {
    color: #222222;
}
.risultato-finale .active {
    background: #c62828 !important;
    font-weight: 500;
    color: white;
}