* {
    padding: 0; margin: 0;
    font-family: 'Mansalva-Regular', cursive;
    /* font-weight: bold; */
}
.revue, .revue * {
    font-family: 'RevueBT-Regular', Fallback, sans-serif;
}
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
table {
    margin: auto;
    border-collapse: collapse;
}
td {
    width: 50px; height: 50px;
    border: 1px black solid;
}
input {
    width: 50px; height: 50px;
    border: 0;
    font-size: 25px;
    text-align: center;
}
input:disabled {
    background: #cfcfcf;
}
.center {
    text-align: center;
}
.no-border {
    border: 0;
    font-size: 18px;
}
.bonus {
    border: 3px solid black;
}
.bonus-bg-sopra {
    background: #d3cff3;
}
.bonus-bg-sotto {
    background: #b3afce;
}
.highlight-yellow {
    background-color: #fec107;
}
.highlight-green {
    background-color: #8bc24a;
}
.highlight-blue {
    background-color: #00bcd5;
}
.highlight-pink {
    background-color: #f06292;
}
.highlight-red {
    background-color: #fe5722;
}
.tabellone
{
    background: rgb(0,179,103);
    background: linear-gradient(180deg, rgba(0,179,103,1) 0%, rgba(8,113,64,1) 100%);
    /* background-image: url('../img/bg-green.jpg'); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 15px;
}
.tabellone.blurred {
    filter: blur(2px) grayscale(20%);
    -webkit-filter: blur(2px) grayscale(20%);
    box-shadow: 0 0 5px 5px #000000;
}
.settings-page {
    width: 90%;
    height: 75vh;
    margin: 10vh 5vw;
    padding: 5px;

    position: fixed;
    left: 0; top: 0;

    z-index: 15;
    opacity: 0;
    overflow-y: hidden;
    transition: opacity 0.25s, margin 0.25s, height 0.25s;
    box-sizing: border-box;

    transform: translateX(calc(100vw));
}
.settings-content {
    width: 100%;
    position: relative;
    height: 100%;
    text-align: left;
    border-radius: 3px;
    background: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(38,38,38,1) 100%);
}
.settings-content div {
    font-size: 25px;
    color: white;
    padding: 15px;
}

.settings-content #settings-name {
    border-bottom: 1px white dashed;
}

.settings-content #settings-name .pencil-icon {
    float: right;
    height: 25px;
    width: 25px;
    background: url('../img/svg/pencil-alt-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    margin-top: 7.5px;
    filter: invert(1);
    opacity: 0.3;
}

.settings-page #high-score span {
    border-bottom: 2px white dashed;
    float: right;
}

.open {
    height: 75vh;
    margin: 12.5vh 5vw;
    opacity: 1;
    border-radius: 5px;
    background-image: url('../img/bgs/bg-wood.jpg');

    transform: translateX(0px);
    box-shadow: 0 0 10px 3px #00000038;
}
.risultato-finale {
    width: 100%; height: 80px;
    text-align: -webkit-center;
    padding-top: 30px;
}
.risultato-finale .input-risultato-finale {
    width: 200px; height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #929292;
    padding: 10px;
    background: #cfcfcf;
    font-size: 15px;
    border-radius: 5px;
    box-sizing: border-box;

    transition: all 0.6s;
}
.risultato-finale .input-risultato-finale:disabled {
    color: #222222;
}
.risultato-finale .input-risultato-finale:focus {
    outline: none;
}
.risultato-finale .active {
    background: #c62828 !important;
    border-color: #000000 !important;
    font-size: 20px !important;
    font-weight: 500;
    color: white;
}
.small td, .small td input {
    width: 40px !important; height: 40px !important;
    max-width: 40px !important; max-height: 40px !important;
    font-size: 17px;
}
.small-btn input {
    width: 150px !important; height: 40px !important;
}
.totale input {
    font-size: 20px;
}

/* The switch - the box around the slider */
.settings-content .switch {
    position: relative;
    width: 55px;
    height: 30px;
    float: right;
    margin-top: 5px;
}

/* Hide default HTML checkbox */
.settings-content .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.settings-content .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.settings-content .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.settings-content input:checked + .slider {
  background-color: #2196F3;
}

.settings-content input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.settings-content input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.settings-content .slider.round {
  border-radius: 34px;
}

.settings-content .slider.round:before {
  border-radius: 50%;
}

#hamburger-settings {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 10;
}
.circle {
    width: 30px;
    height: 30px;
    position: relative;
}
.line {
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    opacity: 0.8;
    border-radius: 10px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top {
	top:18%;
}
.middle {
	top:48%;
}
.bottom {
    top:78%;
}
.icon.close .top {
    transform:rotate(45deg);
	top:48%;
}
.icon.close .middle, .icon.close .bottom {
    transform:rotate(-45deg);
	top:48%;
}
.homepage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: url('../img/bgs/bg-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.4s ease-in-out;
}
.homepage * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}
.homepage.swiped {
    transform: translateY(calc(-120vh));
}
.logo-container {
    width: 100%; height: 35%;
    background: url('../img/logo-yaz-dices.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.input-container {
    width: 100%; height: 35%;
    position: relative;
}
.input-container .message {
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    top: 20%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 40px;
}
.input-container #input-home {
    width: 80%; height: 55px;
    margin: auto;
    border-radius: 50px;
    text-align: left;
    padding-left: 20px;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
.button-container {
    width: 100%; height: 30%;
    position: relative;
}
.button-container #button-home { 
    width: 50%; height: 80px;
    margin: auto;
    text-align: center;
    top: 10%;
    position: absolute;
    left: 0;
    right: 0;
    border: 4px solid black;
    border-radius: 5px;
    color: white;
    background-color: #c62828;
    font-size: 40px;
    transition: 0.2s;
}
.button-container #button-home:focus {
    color: #c62828;
    background-color: white;
}
.hide {
    display: none;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: url('../img/gif/dice.gif') center no-repeat #02dbfa;
    background-size: 75%;
}