@font-face
{
    font-family: 'RevueBT-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Revue.ttf');
}
@font-face
{
    font-family: 'Mansalva-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Mansalva-Regular.ttf');
}